<div class="container">
  <div class="row">
    <div class="col" style="border: 1px solid black;">
      <h3>Register</h3>
      First Name: <input type="text" id="fName" [(ngModel)]="fName"><br>
      Last Name: <input type="text" id="lName" [(ngModel)]="lName"><br>
      Email address: <input type="email" id="email" [(ngModel)]="email"><br>
      Password: <input type="password" id="password" [(ngModel)]="password"><br>
      <select id="type" [(ngModel)]="type">
        <option>Guest</option>
        <option>Host</option>
      </select>
      <br>
      <button (click)="register(type,fName,lName,email,password)" class="btn btn-primary">Register</button>
    </div>
    <div class="col" style="border: 1px solid black;">
      <h3>Login</h3>
      Email address: <input type="email" id="signinemail" [(ngModel)]="signinemail"><br>
      Password: <input type="password" id="signinpassword" [(ngModel)]="signinpassword"><br>
      <button (click)="login(signinemail,signinpassword)" class="btn btn-primary">Login</button><br>
      {{errormsg}}
    </div>
  </div>
</div>