<!-- Search bar -->
<div class="container-fluid">
  <p>Find places to swim and sleep on water bnb!</p>
    <input #searchBox class="form-control mr-sm-2" placeholder="location" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" (click)="search(searchBox.value)">Search</button>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Pool Size</th>
        <th scope="col">Cost per Night</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody style="height: 80%; overflow-y: auto;">
      <tr *ngFor="let pool of pools | async">
        <td>{{pool.address}}</td>
        <td>{{pool.poolSize}}</td>
        <td>${{pool.cost}}</td>
        <td><a routerLink="/pools/{{pool.listingId}}"><button class="btn btn-outline-primary">See more</button></a></td>
      </tr>
    </tbody>
  </table>
</div>