<div class="container" *ngFor="let listing of listings | async">
    <div class="row">
        <div class="col">
            <p>{{listing.address}}</p>
            <p>{{listing.description}}</p>
        </div>
        <div class="col">
            Email: <br>
            Name: <br>
            Pool Size: {{listing.poolSize}}<br>
            Cost: {{listing.cost}}<br>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <p>Reviews {{listing.details}}:</p>
        </div>
        <div class="col" style="text-align: right;">
            <button class="btn btn-outline-primary" routerLink="/review/{{listing.listingId}}">Leave a review</button>
        </div>
    </div>
    <div style="border: 1px solid black">
        list of reviews here
    </div>
</div>