<div class="container">
    <div class="row">
        <div class="col">
            <p>address</p>
            <p>description here</p>
        </div>
        <div class="col">
            Email: <br>
            Name: <br>
            Pool Size: <br>
            Cost: <br>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <p>Reviews (scores):</p>
        </div>
        <div class="col" style="text-align: right;">
            <button class="btn btn-outline-primary" routerLink="/review">Leave a review</button>
        </div>
    </div>
    <div style="border: 1px solid black">
        list of reviews here
    </div>
</div>