<div class="container">
    <div class="row">
        <div class="col">
            <p>{{listing.address}}</p>
            <p>{{listing.description}}</p>
        </div>
        <div class="col">
            Email: {{listing.userId}}<br>
            Name: <br>
            Pool Size: {{listing.poolSize}}<br>
            Cost: {{listing.cost}}<br>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <p>Reviews {{listing.details}}:</p>
        </div>
        <div class="col" style="text-align: right;">
            <button class="btn btn-outline-primary" (click)="checkUser()">Leave a review</button>
        </div>
    </div>
    <table class="table" style="border: 1px solid black">
        <tbody style="height: 80%; overflow-y: auto;">
            <tr *ngFor="let review of reviews|async">
                <td>
                    {{review.name}}:<br>
                    Rating: {{review.rating}}/5<br><br>
                    {{review.review}}
                </td>
            </tr>
        </tbody>
    </table>
</div>